libs/
docs/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/*
build/
!bin/data/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user
*.vsxproj.filters

*.obj
*.tlog
*.vcxproj.filters
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/


*~.xml

#These are my own commands
bin/data/logs
bin/data/postTweet.json
bin/data/getTweet.json
